<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel='stylesheet' href="{% static 'styles.css' %}">
    <title>Thought Board</title>
</head>
<body>
    <header class='alt'>
        <a href='/thoughts/'>Dashboard</a>
        <a href='/logout/'>Logout</a>
    </header>
    <div class='dash'>
        <div class='main'>
            <p>{{onePost.poster.firstName}} Says: </p>
            <p>{{onePost.thought}}</p>
        </div>
        <div class='alt'>
            <button>Like</button>
            <button>Unlike</button>
        </div>
    </div>
</body>
</html>