.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* {
  border: 1px dotted red;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333232;
  color: #c9c0c0;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  justify-content: space-between;
}
body header a {
  color: #c9c0c0;
  font-size: 1.2em;
}
body .alt {
  justify-content: flex-end;
}
body .alt a {
  margin: 1em;
}
body .main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
body .main .form {
  margin: 15px;
}
body .main .form h3 {
  margin-top: 15px;
  margin-bottom: -5px;
  margin-left: 2px;
  background-color: #333232;
  padding: 1px;
  max-width: 60px;
}
body .main .form form {
  border: 3px groove #c9c0c0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .form form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .main .form form section label {
  margin: 1em;
  min-width: 135px;
}
body .main .form form section input {
  margin: 1em;
}
body .main .form form button {
  align-self: flex-end;
  margin: 1em;
}
body .dash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .dash form .hidden {
  display: none;
}
body .dash .main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .dash .details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  justify-content: space-between;
}
body .dash .details a {
  color: #c9c0c0;
  font-size: 1.2em;
}
body .dash .alt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  justify-content: flex-end;
}
body .details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
}
